.slider {
	-webkit-appearance: none;
	height: 25px;
	background: lightgrey;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
.slider:hover {
	opacity: 0.7;
}
.slider::-moz-range-thumb {
	width: 15px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
.bar{
	height: 10px;
	width: 10px;
	background-color: green;
	position: absolute;
}
.box{
	padding: 30px 40px;
	background-color: white;
	text-align: center;
	width: 150px;
	float: left;
	margin-right: 20px;
}
#opts{
	margin-left: 230px;
	height: 100px;
	width: 100%;
}

