body{
	font-family: Arial, Helvetica, sans-serif;
	background: lightgrey;
}
#field {
	margin: auto;
	margin-top: 15px;
	height: 400px;
	position: relative;
	background: white;
}
#note {
	margin-top: 10px;
	margin-left: 15%;
	color: red;
	width: 70%;
}
.title{
	margin-bottom: 10px;
}
